{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block scripts %}
<script src="https://kit.fontawesome.com/bc39f131f9.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %} 
{% include 'includes/header.html' %}


<div class="container d-flex justify-content-center" style="margin-top: 6em; height:fit-content;">
    <div class="container discussion shadow  bg-white col-12 col-md-8 border border-1" style="height:auto">
        <div class="question mt-4 pt-4 ps-4 pe-4 pb-2 border-black border-bottom" style="height: auto;">
            <div>
                <p class="h4">{{question.text}}</p>
            </div>
            <div>
                <p><a href="{% url 'profile' id=question.user.id %}" class="text-decoration-none text-dark" style="font-size: .95em; font-weight:650">Posted by {{question.user.first_name}} {{question.user.last_name}}</a></p>
            </div>
        </div>
        <div class="toAns p-4">
            <form action="{% url 'add_answer' id=question.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{form.text}}
                </div>
                <button type="submit" class="btn btn-info shadow-none">Add Answer</button>
            </form>
        </div>
        <div class="answers p-4">
            {% for answer in answers %}
            <div class="border-top border-black mt-2 pt-3">
                <div style="margin-bottom: 3px;">
                    <a href="{% url 'profile' id=answer.user.id %}" class="text-decoration-none text-dark" style="font-size: .95em; font-weight:650; width:100%">{{answer.user.first_name}}</a>
                    <span style="margin-left: 6px; font-size: 14px;">{{answer.created_at}}</span>
                </div>
                <div class="pt-3">
                    <p style="white-space: break-spaces;">{{answer.text}}</p>

                    {% if voted %}
                        <div class="upvote ps-1">
                            <a href="{% url 'vote' id=answer.id %}" class="text-dark"><i class="fas fa-thumbs-up" style="color: blue;"></i></a>
                            <b>{{ answer.upvote_count }}</b> votes
                            <!-- <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 4 3 15h6v5h6v-5h6z" class="icon_svg-stroke icon_svg-fill" stroke-width="1.5" stroke="#666" fill="none" stroke-linejoin="round"></path></svg> -->
                        </div>

                    {% else %}

                    <div class="upvote ps-1">
                        <a href="{% url 'vote' id=answer.id %}" class="text-dark"><i class="fas fa-thumbs-up"></i></a>
                        <b>{{ answer.upvote_count }}</b> votes
                        <!-- <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 4 3 15h6v5h6v-5h6z" class="icon_svg-stroke icon_svg-fill" stroke-width="1.5" stroke="#666" fill="none" stroke-linejoin="round"></path></svg> -->
                    </div>

                    {% endif %}

                    <p>
                        {% if answer.user.type == 'TEACHER'%}
                        <span>F</span>&nbsp;&nbsp;
                        {% endif %}
                    </p>
                </div>                
            </div>
            {% endfor %}
        </div>        
    </div>
    
</div>
{% endblock %}
